@page

@using StudentsTesting1.Pages;

@model StudentsTesting1.Pages.loginModel
@{
    ViewData["Title"] = "login";
}
<h2>Вход на сайт</h2>

<a asp-action="Register" asp-controller="Account">Регистрация</a>

<form asp-action="Login" asp-controller="Account" asp- asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="login">Введите Email</label>
            <input type="text" asp-for="login" />
            <span asp-validation-for="login" />
        </div>
        <div class="form-group">
            <label asp-for="password">Введите пароль</label>
            <input asp-for="password" />
            <span asp-validation-for="password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Увійти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
